.gadgets-container{
  background-color: rgb(87, 186, 219);
  border-radius: 0 0 15% 15%;
}

.welcome-message{
  font-size: 25px;
  font-weight: bold;
  color: white;
  padding-top: 5%;
  padding-left: 5%;
  
}


.searchBar{
  padding-top: 15%;
  padding-bottom: 2%;
  display: flex;
  position: relative;
  justify-content: center;
}

input{
  padding: 10px;
  border-radius: 20px;
  font-size: 16px;
  border: 1px solid grey;

}


.categories {
  display: flex;
  overflow-x: auto;
  margin-bottom: 20px;
  padding: 10px;
  gap: 10px;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.categories::-webkit-scrollbar {
  display: none;
}

.category-button {
  background-color: lightgrey;
  border-radius: 10%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
  scroll-snap-align: center;
  
}

.category-button.selected {
  background-color: rgb(87, 186, 219);;
}
